---
primary:
  replicaCount: 1
  resources:
    requests:
      cpu: "20m"
      memory: "128Mi"
    limits:
      memory: "128Mi"

replica:
  replicaCount: 3
  resources:
    requests:
      cpu: "20m"
      memory: "128Mi"
    limits:
      memory: "128Mi"

auth:
  existingSecret: "yopass-valkey-credentials"
  existingSecretPasswordKey: "password"

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
